/* ----------------------------------------------------------------------------- SYMPLE FORMS 
  This stylesheet uses mesh.forms.css stacked form as a base
*/

/* ............................................................................. Form Markup */


form.symple-form {
    position: relative;
}
form.symple-form h3 {
}
form.symple-form fieldset {
    /*
    padding: 10px;     
    background: #EEF3FA;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    */
}
form.symple-form .hint {
    color: #666;
}
form.symple-form .error {
    color: #c00;
}
/* Mesh compatability */
form.symple-form .hint:hover:before, 
form.symple-form .hint:hover:after {
    opacity: 0;
}
form.symple-form .hint,
form.symple-form .error {
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
}
form.symple-form .field .hint,
form.symple-form .field .error {
    padding: 5px 0 0 !important;
}


form.symple-form .field {
}

/*
form.symple-form .field .hint {
    color: #666;
}
form.symple-form fieldset .error,
form.symple-form .field .error {
    color: #c00;
}
form.symple-form .submit {
    float: right;
}

form.symple-form input,
form.symple-form select {
    display: block !important;
    margin-bottom: 15px !important;
}
*/

/* ............................................................................. Paged Form Layout */

.symple-form-wrapper {
    height: 100%;
}

form.symple-paged-form .symple-form-content .menu {
    float: left;
    width: 20%;
}

form.symple-paged-form .symple-form-content .menu li {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
form.symple-paged-form .symple-form-content .menu li a {
    display: block;
    font-size: 12px;
    padding: 8px 10px 8px 15px;
    text-decoration: none;
    color: #333;
    background: #fff;
}
form.symple-paged-form .symple-form-content .menu li a:hover {
    background: #f6f6f6;
}
form.symple-paged-form .symple-form-content .menu li.selected a {
    background: #EEF3FA;
}

form.symple-paged-form .symple-form-content .pages {
    margin-left: 20%;
    height: 100%;
    width: 80%;
}

form.symple-paged-form .symple-form-content .pages .page {
    padding: 15px;
    background: #EEF3FA;
}

form.symple-paged-form .symple-form-content .pages .page h2 {
    display: none;
}



    /*
    position: absolute;
    width: 200px;
    min-height: 150px;
    border-top: 1px solid #eee;
    overflow: hidden;
    */

/*
form.symple-form .page {
    width: 600px;
    min-height: 150px;
    margin-left: 199px;
    border: 1px solid #eee;
    background: #EEF3FA;
    margin-bottom: 12px !important;
    margin-left: 199px;
    background: #EEF3FA;
}
*/
